*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    
}
.ass{
    ;
}
.nav{
    background-color: whitesmoke;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}
.navi{
    display: flex;
    flex-wrap: wrap;
      list-style: none;
      gap: 40px; 
}
.navi a{
    text-decoration: none;
      color: black;
      font-weight: bold;
}
.main{
    padding: 13%;
    text-align: center;
    background-color: black;
}
 h1{ color: burlywood;
     text-align: center;
     font-size: 2.5rem;
     margin:20px ;
 }
 h2{
     color: rgb(212, 141, 8);
     text-align: center;
 }
 .lege{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
 }
 .leg{
    background-color:rgb(21, 20, 20);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
 }
 .playlist{
     display: inline-block;
     background-color: #e0484d;
     color: white;
     padding: 12px 25px;
     margin-top: 20px;
     border-radius: 30px;
     text-decoration: none;
     font-size: 18px;
     font-weight: bold;
     transition: background 0.3s ease, transform 0.2s ease;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 }
 .playlist:hover {
     background-color: #e0484d;
     transform: translateY(-3px);
     box-shadow: 0 6px 12px rgba(0,0,0,0.15);
 }
 .foot{
     justify-content: right;
     text-align: right;
 }
 .content{
    padding: 20px;
    background-color: black;
 }
 @media (max-width: 600px) {
    .navi {
      flex-direction: row;
      align-items: center;
      gap: 10px;
      padding: 1px;
    }
  
    h1 {
      font-size: 2rem;
    }

    .playlist {
        width: 90%;
      }
    }