
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.sect{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("newj.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
  background-image: url("newj.jpg");
  min-height: 100%; /* Ensure the container is at least the height of the viewport */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12%;
}
.bio{
    padding: 50px 0px;
    margin-bottom: 5rem;
}
#Biography{
    padding-bottom: 40px;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    font-size: 3rem;
}
marquee{
    width: 100%;
    height: 50%;
}
.awa{
    margin-bottom: 8rem;
}
#Albums{
  padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    font-size: 3rem;
}
p{
    color: whitesmoke;
    padding:10px 30px;
    font-weight: normal;
    font-size: large;
    word-spacing: 3px;
}
.blue{
  padding: 3%;
  background-color:white;
}
ol{
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    padding: 25px;
    list-style: none;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%; 
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 10rem;
    color: whitesmoke;
}
h3{
    color: cornsilk;
    padding-top: 10px;
}
h4{
    color: whitesmoke;
}
#Awards{
    padding-bottom: 40px;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
}
ul{
    color: whitesmoke;
    padding:10px 60px;
    font-size: 18px;
    word-spacing: 3px;
}
.alb{
    margin-top:px;
}
.ards{
    color: whitesmoke;
    font-size: 19px;
    padding:10px 30px;
    font-weight: normal;
}
.acon{
  display: flex;
  justify-content: center;
  gap: 90px;
}
.aco{
  
}
